/* Flexbox container for the bot message */
.bot-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* Adjust date and time inputs */
.datepicker-input,
.time-dropdown {
    width: 100px;
    margin: 6px;
    font-size: 12px;
}

/* Button size */
.bot-message button {
    padding: 8px 16px;
    font-size: 14px;
    min-width: 80px;
}

/* Chatbot input container */
.chatbot-input {
    display: flex;
    border-top: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

/* Make the input field take most of the space */
.chatbot-input input {
    flex-grow: 1;
    padding: 8px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 14px;
    margin-right: 10px;
    box-shadow: 0px 0px 3px black;
}

/* Larger button for mobile */
.chatbot-input button {
    background-color: rgb(224, 230, 249);
    padding: 8px 16px;
    font-size: 14px;
    min-width: 90px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 0px 3px black;
}

/* Button hover effect */
.chatbot-input button:hover {
    background-color: #0056b3;
}

/* For larger screens, adjust button size */
@media (min-width: 768px) {

    .bot-message button,
    .chatbot-input button {
        padding: 10px 20px;
        font-size: 16px;
        min-width: 100px;
    }
}