/* Container of the chat app */
.chat-app {
    background-color: #f0f2f5;
    padding: 10px;
    min-height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}