/* Mobile-first design */
.chatbot-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 7vh;
}

/* Profile image, adjusted for mobile */
.navbar-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.navbar-middle {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.online-dot {
    width: 8px;
    height: 8px;
    background-color: #28a745;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.navbar-middle h2 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
}

.navbar-middle p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* Add responsive breakpoint for larger screens */
@media (min-width: 768px) {
    .navbar-left img {
        width: 50px;
        height: 50px;
    }

    .navbar-middle h2 {
        font-size: 20px;
    }

    .navbar-middle p {
        font-size: 14px;
    }
}